In [1]:
import sqlalchemy

In [2]:
user = 'peter'
password = 'PeterWoW1!'

In [3]:
sql_conn_str = 'postgresql://{user}:{password}@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev'.format(
    user=user,
    password=password
)

In [4]:
sqlalchemy.create_engine(sql_conn_str)

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

Engine(postgresql://peter:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev)

In [5]:
%load_ext sql

In [6]:
%%sql

SELECT * FROM raw_data.session_timestamp LIMIT 10

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [7]:
%sql sql_conn_str

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [8]:
%sql postgresql://peter:PeterWoW1!@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

'Connected: peter@dev'

In [20]:
%%sql 

CREATE TABLE adhoc.peter_channel (
    channel varchar(32) primary key
);

 * postgresql://peter:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
(psycopg2.ProgrammingError) Relation "peter_channel" already exists

[SQL: CREATE TABLE adhoc.peter_channel (
    channel varchar(32) primary key
);]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [21]:
%%sql

INSERT INTO adhoc.peter_channel VALUES ('FACEBOOK'), ('GOOGLE');

SELECT * FROM adhoc.peter_channel;

 * postgresql://peter:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
2 rows affected.
2 rows affected.

[('FACEBOOK',), ('GOOGLE',)]

In [22]:
%%sql

DROP TABLE adhoc.peter_channel;

CREATE TABLE adhoc.peter_channel AS
  SELECT DISTINCT channel
  FROM raw_data.user_session_channel;

 * postgresql://peter:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [23]:
%%sql

SELECT * 
FROM adhoc.peter_channel 
LIMIT 10;

 * postgresql://peter:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[('Naver',),
 ('Facebook',),
 ('Youtube',),
 ('Instagram',),
 ('Organic',),
 ('Google',)]

In [24]:
%%sql

ALTER TABLE adhoc.peter_channel
RENAME channel to channelname;

INSERT INTO adhoc.peter_channel VALUES ('TIKTOK');

 * postgresql://peter:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
1 rows affected.

[]

In [25]:
%%sql

SELECT *
FROM adhoc.peter_channel;

 * postgresql://peter:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('Naver',),
 ('Facebook',),
 ('Youtube',),
 ('Instagram',),
 ('TIKTOK',),
 ('Organic',),
 ('Google',)]

In [26]:
%%sql

SELECT COUNT(1)
FROM raw_data.session_timestamp;

 * postgresql://peter:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(101520,)]

In [31]:
%%sql

SELECT usc.channel, COUNT(1)
FROM raw_data.user_session_channel usc
JOIN raw_data.session_timestamp st
ON st.sessionid = usc.sessionid
GROUP BY 1;

 * postgresql://peter:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[('Instagram', 16831),
 ('Naver', 16921),
 ('Youtube', 17091),
 ('Facebook', 16791),
 ('Organic', 16904),
 ('Google', 16982)]

In [34]:
%%sql

SELECT COUNT(1)
FROM raw_data.user_session_channel usc
WHERE usc.channel in ('Google','Facebook');

 * postgresql://peter:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(33773,)]

In [33]:
%%sql

SELECT COUNT(1)
FROM raw_data.user_session_channel usc
WHERE channel ilike 'Google' or channel ilike 'Facebook';

 * postgresql://peter:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(33773,)]

In [36]:
%%sql

SELECT DISTINCT channel
FROM raw_data.user_session_channel
WHERE channel ILIKE '%o%';

 * postgresql://peter:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
4 rows affected.

[('Organic',), ('Google',), ('Facebook',), ('Youtube',)]

In [37]:
%%sql

SELECT DISTINCT channel
FROM raw_data.user_session_channel
WHERE channel NOT ILIKE '%o%';

 * postgresql://peter:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
2 rows affected.

[('Naver',), ('Instagram',)]

In [38]:
%%sql

SELECT 
  LEN(channelname),
  UPPER(channelname),
  LOWER(channelname),
  LEFT(channelname, 4)
FROM adhoc.peter_channel;

 * postgresql://peter:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[(5, 'NAVER', 'naver', 'Nave'),
 (8, 'FACEBOOK', 'facebook', 'Face'),
 (7, 'YOUTUBE', 'youtube', 'Yout'),
 (9, 'INSTAGRAM', 'instagram', 'Inst'),
 (6, 'TIKTOK', 'tiktok', 'TIKT'),
 (7, 'ORGANIC', 'organic', 'Orga'),
 (6, 'GOOGLE', 'google', 'Goog')]

In [42]:
%%sql

SELECT EXTRACT(HOUR FROM st.ts), COUNT(1)
FROM raw_data.user_session_channel usc
JOIN raw_data.session_timestamp st
ON st.sessionid = usc.sessionid
GROUP BY 1
ORDER BY 2 DESC;

 * postgresql://peter:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
24 rows affected.

[(15, 15339),
 (16, 14140),
 (14, 13417),
 (17, 10698),
 (13, 9035),
 (18, 7469),
 (19, 5278),
 (20, 3956),
 (12, 3852),
 (21, 3238),
 (22, 2801),
 (23, 2348),
 (0, 1870),
 (11, 1411),
 (1, 1328),
 (2, 1125),
 (10, 870),
 (3, 815),
 (4, 703),
 (5, 611),
 (6, 491),
 (9, 340),
 (7, 236),
 (8, 149)]

In [43]:
%%sql

SELECT usc.channel, COUNT(1)
FROM raw_data.channel c
JOIN raw_data.user_session_channel usc
ON usc.channel = c.channelname
GROUP BY 1;

 * postgresql://peter:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[('Instagram', 16831),
 ('Naver', 16921),
 ('Youtube', 17091),
 ('Facebook', 16791),
 ('Organic', 16904),
 ('Google', 16982)]

In [55]:
%%sql

SELECT st.ts, usc.channel, ROW_NUMBER() OVER (PARTITION BY usc.userid ORDER BY st.ts)
FROM raw_data.user_session_channel usc
JOIN raw_data.session_timestamp st
ON usc.sessionid = st.sessionid
WHERE userid = 251
ORDER BY 1;

 * postgresql://peter:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
216 rows affected.

[(datetime.datetime(2019, 5, 1, 12, 18, 26, 637000), 'Facebook', 1),
 (datetime.datetime(2019, 5, 2, 13, 6, 12, 47000), 'Instagram', 2),
 (datetime.datetime(2019, 5, 3, 13, 43, 21, 857000), 'Instagram', 3),
 (datetime.datetime(2019, 5, 4, 13, 54, 0, 610000), 'Instagram', 4),
 (datetime.datetime(2019, 5, 5, 13, 30, 8, 260000), 'Google', 5),
 (datetime.datetime(2019, 5, 6, 12, 36, 54, 80000), 'Youtube', 6),
 (datetime.datetime(2019, 5, 7, 12, 22, 45, 713000), 'Youtube', 7),
 (datetime.datetime(2019, 5, 8, 12, 27, 53, 360000), 'Organic', 8),
 (datetime.datetime(2019, 5, 9, 11, 54, 21, 527000), 'Youtube', 9),
 (datetime.datetime(2019, 5, 10, 14, 29, 36, 197000), 'Facebook', 10),
 (datetime.datetime(2019, 5, 11, 12, 42, 13, 727000), 'Facebook', 11),
 (datetime.datetime(2019, 5, 12, 12, 46, 57, 153000), 'Youtube', 12),
 (datetime.datetime(2019, 5, 13, 11, 56, 26, 650000), 'Google', 13),
 (datetime.datetime(2019, 5, 14, 12, 50, 53, 303000), 'Youtube', 14),
 (datetime.datetime(2019, 5, 15, 12, 39, 16, 610000), 'Organic', 15),
 (datetime.datetime(2019, 5, 16, 12, 31, 56, 140000), 'Instagram', 16),
 (datetime.datetime(2019, 5, 17, 13, 6, 3, 367000), 'Youtube', 17),
 (datetime.datetime(2019, 5, 18, 12, 32, 12, 420000), 'Youtube', 18),
 (datetime.datetime(2019, 5, 19, 13, 35, 51, 503000), 'Organic', 19),
 (datetime.datetime(2019, 5, 20, 12, 59, 25, 773000), 'Naver', 20),
 (datetime.datetime(2019, 5, 21, 12, 17, 36, 223000), 'Instagram', 21),
 (datetime.datetime(2019, 5, 21, 12, 25, 44, 910000), 'Instagram', 22),
 (datetime.datetime(2019, 5, 22, 12, 59, 50, 550000), 'Organic', 23),
 (datetime.datetime(2019, 5, 23, 12, 31, 3, 600000), 'Instagram', 24),
 (datetime.datetime(2019, 5, 24, 13, 15, 30, 607000), 'Naver', 25),
 (datetime.datetime(2019, 5, 25, 12, 46, 54, 253000), 'Facebook', 26),
 (datetime.datetime(2019, 5, 26, 13, 6, 16, 913000), 'Google', 27),
 (datetime.datetime(2019, 5, 27, 13, 15, 41, 573000), 'Youtube', 28),
 (datetime.datetime(2019, 5, 28, 11, 53, 17, 513000), 'Organic', 29),
 (datetime.datetime(2019, 5, 29, 12, 33, 2, 777000), 'Instagram', 30),
 (datetime.datetime(2019, 5, 30, 12, 39, 35, 553000), 'Youtube', 31),
 (datetime.datetime(2019, 5, 30, 17, 23, 10), 'Facebook', 32),
 (datetime.datetime(2019, 5, 31, 12, 18, 30, 467000), 'Youtube', 33),
 (datetime.datetime(2019, 6, 1, 12, 53, 38, 227000), 'Naver', 34),
 (datetime.datetime(2019, 6, 1, 18, 59, 41), 'Instagram', 35),
 (datetime.datetime(2019, 6, 2, 13, 19, 44, 780000), 'Facebook', 36),
 (datetime.datetime(2019, 6, 2, 15, 16, 57), 'Instagram', 37),
 (datetime.datetime(2019, 6, 3, 12, 29, 39, 157000), 'Google', 38),
 (datetime.datetime(2019, 6, 4, 13, 11, 34, 537000), 'Organic', 39),
 (datetime.datetime(2019, 6, 5, 12, 39, 54, 320000), 'Youtube', 40),
 (datetime.datetime(2019, 6, 6, 12, 35, 31, 260000), 'Instagram', 41),
 (datetime.datetime(2019, 6, 7, 14, 13, 30, 970000), 'Google', 42),
 (datetime.datetime(2019, 6, 8, 12, 58, 44, 550000), 'Organic', 43),
 (datetime.datetime(2019, 6, 9, 12, 58, 28, 37000), 'Naver', 44),
 (datetime.datetime(2019, 6, 10, 13, 0, 17, 77000), 'Instagram', 45),
 (datetime.datetime(2019, 6, 10, 15, 2, 56, 180000), 'Instagram', 46),
 (datetime.datetime(2019, 6, 11, 13, 35, 18, 527000), 'Google', 47),
 (datetime.datetime(2019, 6, 12, 13, 13, 36, 663000), 'Organic', 48),
 (datetime.datetime(2019, 6, 13, 13, 31, 34, 237000), 'Organic', 49),
 (datetime.datetime(2019, 6, 14, 13, 19, 42, 297000), 'Organic', 50),
 (datetime.datetime(2019, 6, 14, 13, 24, 3, 453000), 'Youtube', 51),
 (datetime.datetime(2019, 6, 15, 13, 7, 3, 207000), 'Instagram', 52),
 (datetime.datetime(2019, 6, 16, 12, 44, 44, 787000), 'Google', 53),
 (datetime.datetime(2019, 6, 17, 13, 13, 3, 103000), 'Instagram', 54),
 (datetime.datetime(2019, 6, 18, 12, 33, 17, 483000), 'Instagram', 55),
 (datetime.datetime(2019, 6, 19, 12, 38, 26, 733000), 'Instagram', 56),
 (datetime.datetime(2019, 6, 20, 12, 50, 39, 390000), 'Youtube', 57),
 (datetime.datetime(2019, 6, 21, 12, 57, 52, 737000), 'Naver', 58),
 (datetime.datetime(2019, 6, 22, 13, 21, 12, 57000), 'Naver', 59),
 (datetime.datetime(2019, 6, 22, 16, 4, 40), 'Naver', 60),
 (datetime.datetime(2019, 6, 23, 12, 33, 2, 350000), 'Facebook', 61),
 (datetime.datetime(2019, 6, 24, 12, 20, 55, 627000), 'Naver', 62),
 (datetime.datetime(2019, 6, 25, 12, 53, 30, 443000), 'Organic', 63),
 (datetime.datetime(2019, 6, 26, 12, 16, 51, 993000), 'Facebook', 64),
 (datetime.datetime(2019, 6, 26, 18, 36, 54), 'Facebook', 65),
 (datetime.datetime(2019, 6, 27, 13, 50, 9, 650000), 'Google', 66),
 (datetime.datetime(2019, 6, 28, 13, 15, 23, 967000), 'Youtube', 67),
 (datetime.datetime(2019, 6, 29, 13, 38, 34, 300000), 'Instagram', 68),
 (datetime.datetime(2019, 6, 29, 13, 42, 47, 183000), 'Google', 69),
 (datetime.datetime(2019, 6, 29, 13, 43, 52, 563000), 'Google', 70),
 (datetime.datetime(2019, 6, 30, 12, 45, 5, 493000), 'Organic', 71),
 (datetime.datetime(2019, 7, 1, 12, 27, 32, 790000), 'Instagram', 72),
 (datetime.datetime(2019, 7, 1, 17, 58, 15), 'Instagram', 73),
 (datetime.datetime(2019, 7, 2, 13, 19, 33, 543000), 'Facebook', 74),
 (datetime.datetime(2019, 7, 2, 14, 56, 39, 963000), 'Organic', 75),
 (datetime.datetime(2019, 7, 3, 12, 48, 27, 257000), 'Organic', 76),
 (datetime.datetime(2019, 7, 8, 12, 53, 49, 693000), 'Organic', 77),
 (datetime.datetime(2019, 7, 9, 12, 21, 37, 27000), 'Organic', 78),
 (datetime.datetime(2019, 7, 10, 12, 41, 56, 653000), 'Instagram', 79),
 (datetime.datetime(2019, 7, 11, 13, 2, 33, 940000), 'Youtube', 80),
 (datetime.datetime(2019, 7, 12, 12, 39, 45, 390000), 'Naver', 81),
 (datetime.datetime(2019, 7, 13, 13, 16, 19, 803000), 'Youtube', 82),
 (datetime.datetime(2019, 7, 13, 13, 19, 5, 797000), 'Youtube', 83),
 (datetime.datetime(2019, 7, 14, 14, 34, 33, 657000), 'Youtube', 84),
 (datetime.datetime(2019, 7, 17, 12, 44, 32, 63000), 'Organic', 85),
 (datetime.datetime(2019, 7, 17, 16, 53, 22), 'Google', 86),
 (datetime.datetime(2019, 7, 18, 12, 51, 54, 643000), 'Youtube', 87),
 (datetime.datetime(2019, 7, 18, 12, 56, 43, 577000), 'Youtube', 88),
 (datetime.datetime(2019, 7, 18, 20, 29, 57), 'Youtube', 89),
 (datetime.datetime(2019, 7, 19, 16, 1, 16, 17000), 'Naver', 90),
 (datetime.datetime(2019, 7, 19, 17, 38, 53), 'Organic', 91),
 (datetime.datetime(2019, 7, 19, 17, 40, 18), 'Instagram', 92),
 (datetime.datetime(2019, 7, 19, 17, 41, 51), 'Instagram', 93),
 (datetime.datetime(2019, 7, 19, 17, 43, 51), 'Youtube', 94),
 (datetime.datetime(2019, 7, 20, 12, 57, 48, 747000), 'Naver', 95),
 (datetime.datetime(2019, 7, 20, 13, 1, 13, 857000), 'Instagram', 96),
 (datetime.datetime(2019, 7, 21, 12, 53, 14, 990000), 'Instagram', 97),
 (datetime.datetime(2019, 7, 22, 13, 19, 23, 447000), 'Youtube', 98),
 (datetime.datetime(2019, 7, 23, 12, 47, 7, 460000), 'Naver', 99),
 (datetime.datetime(2019, 7, 24, 12, 54, 51, 497000), 'Google', 100),
 (datetime.datetime(2019, 7, 24, 16, 8, 42), 'Google', 101),
 (datetime.datetime(2019, 7, 25, 12, 34, 51, 103000), 'Instagram', 102),
 (datetime.datetime(2019, 7, 25, 12, 39, 35, 593000), 'Instagram', 103),
 (datetime.datetime(2019, 7, 26, 12, 47, 35, 500000), 'Instagram', 104),
 (datetime.datetime(2019, 7, 26, 12, 52, 22, 50000), 'Organic', 105),
 (datetime.datetime(2019, 7, 26, 19, 18, 38), 'Google', 106),
 (datetime.datetime(2019, 7, 27, 13, 33, 2, 323000), 'Google', 107),
 (datetime.datetime(2019, 7, 29, 13, 6, 27, 130000), 'Facebook', 108),
 (datetime.datetime(2019, 7, 30, 12, 23, 24, 593000), 'Google', 109),
 (datetime.datetime(2019, 7, 30, 15, 31, 25), 'Instagram', 110),
 (datetime.datetime(2019, 7, 31, 13, 38, 48, 527000), 'Facebook', 111),
 (datetime.datetime(2019, 8, 1, 12, 56, 52, 543000), 'Google', 112),
 (datetime.datetime(2019, 8, 2, 13, 32, 39, 743000), 'Naver', 113),
 (datetime.datetime(2019, 8, 3, 14, 2, 1, 400000), 'Youtube', 114),
 (datetime.datetime(2019, 8, 4, 13, 53, 54, 553000), 'Instagram', 115),
 (datetime.datetime(2019, 8, 5, 12, 37, 58, 720000), 'Organic', 116),
 (datetime.datetime(2019, 8, 6, 12, 47, 42, 17000), 'Youtube', 117),
 (datetime.datetime(2019, 8, 7, 12, 42, 7, 713000), 'Facebook', 118),
 (datetime.datetime(2019, 8, 8, 12, 7, 18, 430000), 'Instagram', 119),
 (datetime.datetime(2019, 8, 9, 13, 19, 19, 580000), 'Organic', 120),
 (datetime.datetime(2019, 8, 10, 14, 3, 46, 323000), 'Organic', 121),
 (datetime.datetime(2019, 8, 11, 13, 57, 58, 377000), 'Naver', 122),
 (datetime.datetime(2019, 8, 12, 12, 46, 55, 367000), 'Instagram', 123),
 (datetime.datetime(2019, 8, 13, 12, 22, 28, 127000), 'Instagram', 124),
 (datetime.datetime(2019, 8, 14, 12, 10, 21, 790000), 'Instagram', 125),
 (datetime.datetime(2019, 8, 15, 17, 28, 48, 497000), 'Naver', 126),
 (datetime.datetime(2019, 8, 16, 13, 54, 53, 113000), 'Instagram', 127),
 (datetime.datetime(2019, 8, 17, 14, 11, 54, 877000), 'Instagram', 128),
 (datetime.datetime(2019, 8, 18, 13, 38, 14, 420000), 'Organic', 129),
 (datetime.datetime(2019, 8, 19, 13, 24, 12, 170000), 'Youtube', 130),
 (datetime.datetime(2019, 8, 20, 13, 33, 0, 347000), 'Facebook', 131),
 (datetime.datetime(2019, 8, 21, 13, 34, 23, 947000), 'Facebook', 132),
 (datetime.datetime(2019, 8, 21, 13, 37, 4, 953000), 'Google', 133),
 (datetime.datetime(2019, 8, 22, 12, 36, 23, 127000), 'Google', 134),
 (datetime.datetime(2019, 8, 23, 14, 0, 1, 60000), 'Facebook', 135),
 (datetime.datetime(2019, 8, 25, 14, 58, 40, 387000), 'Organic', 136),
 (datetime.datetime(2019, 8, 26, 13, 41, 51, 137000), 'Naver', 137),
 (datetime.datetime(2019, 8, 27, 12, 21, 19, 190000), 'Naver', 138),
 (datetime.datetime(2019, 8, 28, 13, 2, 15, 903000), 'Naver', 139),
 (datetime.datetime(2019, 8, 28, 13, 4, 53, 717000), 'Youtube', 140),
 (datetime.datetime(2019, 8, 29, 12, 17, 3, 380000), 'Organic', 141),
 (datetime.datetime(2019, 9, 3, 14, 46, 40, 353000), 'Organic', 142),
 (datetime.datetime(2019, 9, 3, 16, 11, 29), 'Facebook', 143),
 (datetime.datetime(2019, 9, 3, 16, 12, 24), 'Google', 144),
 (datetime.datetime(2019, 9, 4, 12, 59, 13, 917000), 'Naver', 145),
 (datetime.datetime(2019, 9, 5, 12, 35, 33, 793000), 'Facebook', 146),
 (datetime.datetime(2019, 9, 6, 13, 29, 40, 160000), 'Instagram', 147),
 (datetime.datetime(2019, 9, 6, 18, 53, 41, 373000), 'Google', 148),
 (datetime.datetime(2019, 9, 7, 14, 50, 41, 860000), 'Instagram', 149),
 (datetime.datetime(2019, 9, 8, 13, 44, 0, 730000), 'Instagram', 150),
 (datetime.datetime(2019, 9, 9, 12, 30, 40, 303000), 'Naver', 151),
 (datetime.datetime(2019, 9, 10, 12, 56, 17, 543000), 'Facebook', 152),
 (datetime.datetime(2019, 9, 11, 13, 9, 50, 40000), 'Google', 153),
 (datetime.datetime(2019, 9, 12, 13, 34, 36, 337000), 'Facebook', 154),
 (datetime.datetime(2019, 9, 13, 13, 18, 58, 977000), 'Instagram', 155),
 (datetime.datetime(2019, 9, 14, 13, 43, 47, 3000), 'Naver', 156),
 (datetime.datetime(2019, 9, 15, 13, 40, 54, 840000), 'Organic', 157),
 (datetime.datetime(2019, 9, 16, 13, 39, 13, 283000), 'Organic', 158),
 (datetime.datetime(2019, 9, 17, 12, 23, 56, 137000), 'Youtube', 159),
 (datetime.datetime(2019, 9, 18, 13, 37, 0, 210000), 'Naver', 160),
 (datetime.datetime(2019, 9, 19, 13, 51, 55, 193000), 'Organic', 161),
 (datetime.datetime(2019, 9, 20, 13, 52, 45, 850000), 'Naver', 162),
 (datetime.datetime(2019, 9, 22, 14, 41, 19, 317000), 'Facebook', 163),
 (datetime.datetime(2019, 9, 23, 12, 43, 30, 643000), 'Organic', 164),
 (datetime.datetime(2019, 9, 24, 15, 4, 54, 267000), 'Instagram', 165),
 (datetime.datetime(2019, 9, 25, 13, 29, 38, 347000), 'Instagram', 166),
 (datetime.datetime(2019, 9, 27, 13, 13, 26, 970000), 'Organic', 167),
 (datetime.datetime(2019, 9, 29, 14, 1, 37, 303000), 'Instagram', 168),
 (datetime.datetime(2019, 9, 30, 13, 30, 34, 823000), 'Naver', 169),
 (datetime.datetime(2019, 10, 2, 14, 51, 24, 390000), 'Youtube', 170),
 (datetime.datetime(2019, 10, 3, 14, 57, 24, 417000), 'Organic', 171),
 (datetime.datetime(2019, 10, 3, 18, 15, 4, 250000), 'Instagram', 172),
 (datetime.datetime(2019, 10, 3, 19, 56, 38), 'Youtube', 173),
 (datetime.datetime(2019, 10, 4, 15, 31, 35, 587000), 'Youtube', 174),
 (datetime.datetime(2019, 10, 5, 15, 6, 28, 717000), 'Youtube', 175),
 (datetime.datetime(2019, 10, 7, 13, 0, 30, 950000), 'Naver', 176),
 (datetime.datetime(2019, 10, 8, 12, 52, 10, 823000), 'Instagram', 177),
 (datetime.datetime(2019, 10, 9, 14, 13, 5, 130000), 'Instagram', 178),
 (datetime.datetime(2019, 10, 13, 15, 57, 9, 387000), 'Naver', 179),
 (datetime.datetime(2019, 10, 14, 17, 7, 54, 133000), 'Google', 180),
 (datetime.datetime(2019, 10, 15, 12, 57, 35, 127000), 'Instagram', 181),
 (datetime.datetime(2019, 10, 16, 14, 1, 36, 993000), 'Instagram', 182),
 (datetime.datetime(2019, 10, 17, 12, 35, 49, 640000), 'Google', 183),
 (datetime.datetime(2019, 10, 18, 14, 29, 12, 150000), 'Instagram', 184),
 (datetime.datetime(2019, 10, 20, 14, 23, 12, 523000), 'Youtube', 185),
 (datetime.datetime(2019, 10, 21, 13, 6, 43, 27000), 'Naver', 186),
 (datetime.datetime(2019, 10, 22, 13, 21, 42, 390000), 'Organic', 187),
 (datetime.datetime(2019, 10, 23, 13, 42, 59, 783000), 'Youtube', 188),
 (datetime.datetime(2019, 10, 23, 20, 16, 21), 'Youtube', 189),
 (datetime.datetime(2019, 10, 24, 13, 19, 58, 673000), 'Google', 190),
 (datetime.datetime(2019, 10, 27, 12, 55, 38, 563000), 'Instagram', 191),
 (datetime.datetime(2019, 10, 28, 15, 23, 22, 480000), 'Google', 192),
 (datetime.datetime(2019, 10, 29, 13, 41, 50, 303000), 'Naver', 193),
 (datetime.datetime(2019, 10, 29, 13, 42, 40, 357000), 'Naver', 194),
 (datetime.datetime(2019, 10, 29, 13, 47, 47, 353000), 'Facebook', 195),
 (datetime.datetime(2019, 10, 30, 15, 56, 53, 263000), 'Youtube', 196),
 (datetime.datetime(2019, 10, 31, 13, 59, 2, 907000), 'Naver', 197),
 (datetime.datetime(2019, 11, 5, 16, 29, 17, 403000), 'Youtube', 198),
 (datetime.datetime(2019, 11, 6, 13, 12, 22, 887000), 'Organic', 199),
 (datetime.datetime(2019, 11, 7, 14, 13, 54, 197000), 'Organic', 200),
 (datetime.datetime(2019, 11, 8, 14, 52, 52, 620000), 'Youtube', 201),
 (datetime.datetime(2019, 11, 8, 14, 56, 39, 267000), 'Youtube', 202),
 (datetime.datetime(2019, 11, 9, 15, 23, 15, 843000), 'Youtube', 203),
 (datetime.datetime(2019, 11, 10, 15, 49, 40, 190000), 'Organic', 204),
 (datetime.datetime(2019, 11, 11, 14, 7, 44, 547000), 'Instagram', 205),
 (datetime.datetime(2019, 11, 14, 15, 33, 8, 933000), 'Google', 206),
 (datetime.datetime(2019, 11, 14, 15, 38, 15, 263000), 'Organic', 207),
 (datetime.datetime(2019, 11, 17, 14, 36, 52), 'Youtube', 208),
 (datetime.datetime(2019, 11, 18, 16, 24, 2), 'Facebook', 209),
 (datetime.datetime(2019, 11, 19, 16, 28, 12), 'Youtube', 210),
 (datetime.datetime(2019, 11, 20, 15, 41, 25), 'Google', 211),
 (datetime.datetime(2019, 11, 21, 15, 44, 1), 'Naver', 212),
 (datetime.datetime(2019, 11, 22, 17, 55, 35), 'Facebook', 213),
 (datetime.datetime(2019, 11, 23, 15, 34, 30), 'Google', 214),
 (datetime.datetime(2019, 11, 25, 14, 31, 24), 'Organic', 215),
 (datetime.datetime(2019, 11, 26, 16, 54, 19), 'Google', 216)]